<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ticker Trends</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.6.1/d3.js"
  integrity="sha512-pJbXh9nxFa1tkmI3Gxiay8+mKTW+QvM8aMrTSR4xcw671sTWkvlHBgnyqXCRr1HFkE0YwhoRZwcdUFFxP4D9Lg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head> 

<body>
  <!-- nav bar -->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="stocks.html">About The Team</a>
          </li>
          
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- jumbotron -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Crypto & Stock Trends</h1>
        <p>Use the interactive charts below to explore historic trends around stock and crypto prices.</p>
      </div>
    </div>
    
    <!-- dropdown menu for assets -->
    <br/>
    <div class="row">
      <div class="col-sm-6">
        <div class="card form-control border-primary">
          <div class="card-body">
            <h5 class="card-title">Select Stock</h5>
            <p class="card-text">Select a Stock you would like to analyze.</p>
            <select id="selStock" onchange="stockChanged(this.value)"></select>
            
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card form-control border-success">
          <div class="card-body">
            
            <h5 class="card-title">Select Crypto</h5>
            <p class="card-text">Select a Crypto you would like to analyze.</p>
            <select id="selCrypto" onchange="cryptoChanged(this.value)"></select>
          </div>
        </div>
      </div>
    </div>
    <div class ="container">
      <div class="row">
        
        
      
    </div>
  </div>

    <!-- line chart -->
    <br/>
     <div class = "container">
      <div class = "row">
        <div class="col-md-12">
          <h1> Daily Closing Price</h1>
            <div id="line"></div>
              </div>
                <figure class="figure col-md-4">
                  <div></div>
                  
                  
                      
                </figure>
                    </a>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="card form-control border-primary">
                  <div class="card-body">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <h3 class="panel-title">Latest Stock Price</h3>
                      </div>
                      <div id="table" class="panel-body"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card form-control border-success">
                  <div class="card-body">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <h3 class="panel-title">Latest Crypto Price</h3>
                      </div>
                      <div id="table2" class="panel-body"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class ="container">
          <div class="row">
                
                
              
            
    
      <!-- gauge chart -->
    </div>
   <br/>
  <hr class="dashed">
  <br/>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Select Sector</h5>
            <p class="card-text">Select the Sector you would like to analyze.</p>
            <select id="selSector" onchange="sectorChanged(this.value)"></select>
          </div>
        </div>
      </div>
      <br/><br/><br/>    
   
<!-- multiline chart -->

    <div id="multiline">

    </div>
    <!-- <button id="testBtn" type="button" class="btn" onclick="drawBubble()">Test</button> -->

    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>Select Date</h5>
          <select id="selDataset" onchange="dateSelect(this.value)"></select>
        </div>
      </div>
    </div>
      
    </div>
<!-- bubble chart -->
<div class = "container">
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>
  </div>
  <script src="./static/plots.js"></script>
  <script src="./static/sampleTickers.js"></script>

</body>

</html>