<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ticker Trends</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.6.1/d3.js"
    integrity="sha512-pJbXh9nxFa1tkmI3Gxiay8+mKTW+QvM8aMrTSR4xcw671sTWkvlHBgnyqXCRr1HFkE0YwhoRZwcdUFFxP4D9Lg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body style="background-color:#1F2833">
  <!-- nav bar -->
  <div class="m-4" style="border:2px; border-style:solid; border-color:#2FFBEE">
    <nav class="navbar navbar-expand-sm " style="background-color:#1F2833">
      <div class="container-fluid">
        <a href="index.html" class="navbar-brand mb-0 h1" style="color:#2FFBEE">Home</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="nav-item">

              <a href="about.html" class="nav-link" style="color:#2FFBEE">About The Team </a>

            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <!-- jumbotron -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1 style="color:#2FFBEE">Crypto & Stock Trends</h1>
        <p style="color:#2FFBEE">Use the interactive charts below to explore historic trends around stock and crypto
          prices.</p>
      </div>
    </div>

    <!-- dropdown menu for assets -->
    <br />
    <div class="row">
      <div class="col-sm-6">
        <div class="card form-control"
          style="border:4px; border-style:solid; border-color:#2FFBEE; background-color:#1F2833">
          <div class="card-body">
            <h5 class="card-title" style="color:#2FFBEE">Select Stock</h5>
            <p class="card-text" style="color:#2FFBEE">Select a Stock you would like to analyze.</p>
            <select id="selStock" onchange="stockChangedMultiple(this.value)"></select>

          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card form-control"
          style="border:4px; border-style:solid; border-color:#2FFBEE; background-color:#1F2833">
          <div class="card-body">

            <h5 class="card-title" style="color:#2FFBEE">Select Crypto</h5>
            <p class="card-text" style="color:#2FFBEE">Select a Crypto you would like to analyze.</p>
            <select id="selCrypto" onchange="cryptoChangedMultiple(this.value)"></select>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
      </div>
    </div>

    <!-- line chart -->
    <br/>
     <div class = "container">
      <div class = "row">
        <div class="col-md-12">
          <h1 style="color:#2FFBEE"> Daily Closing Price</h1>
            <div id="line" ></div>
              </div>
                <figure class="figure col-md-4" >
                  <div></div>
                <br/>  
                  
                  
                      
                </figure>
                  
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="card form-control" style="border:4px; border-style:solid; border-color:#2FFBEE; background-color:#1F2833">
                  <div class="card-body">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <h3 class="panel-title" style="color:#2FFBEE">Latest Stock Price</h3>
                      </div>
                      <div style="color:#2FFBEE" id="table" class="panel-body"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card form-control" style="border:4px; border-style:solid; border-color:#2FFBEE; background-color:#1F2833">
                  <div class="card-body">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <h3 class="panel-title" style="color:#2FFBEE">Latest Crypto Price</h3>
                      </div>
                      <div style="color:#2FFBEE" id="table2" class="panel-body"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="color:#2FFBEE" id="table" class="panel-body"></div>
            </div>
            <div class ="container">
          <div class="row">
        <br/>
      
                
                
              
            
    
      <!-- gauge chart -->
    </div>
<br/><br/>
   <hr class="dashed" style="color:#2FFBEE">
<br/><br/>
    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="border:4px; border-style:solid; border-color:#2FFBEE; background-color:#1F2833">
          <div class="card-body">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title" style="color:#2FFBEE">Latest Crypto Price</h3>
              </div>
              <div style="color:#2FFBEE" id="table2" class="panel-body"></div>
            </div>
          </div>
        </div>
      </div>
    <br/>
  <br/>
<br/> 
<!-- multiline chart -->
<br/><br/><br/>
    <div style="color:#2FFBEE" id="multiline">
      
    </div>
  <br/><br/><br/>
    <hr class="dashed" style="color:#2FFBEE">
  <br/><br/>    
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5 style="color:#2FFBEE">Select Date</h5>
          <select id="selDataset" onchange="dateSelect(this.value)" ></select>
        </div>

      </div>
      <!-- bubble chart -->
      <hr class="dashed">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="bubble"></div>
          </div>
        </div>
      </div>
      <script src="./static/plots.js"></script>
      <script src="./static/sampleTickers.js"></script>

</body>

</html>